html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}
.intro {
    background-image: -webkit-linear-gradient(bottom right, #203048, #006085, #009599, #00c574, #a8eb12);
    background-image: -o-linear-gradient(bottom right, #203048, #006085, #009599, #00c574, #a8eb12);
    background-image: linear-gradient(to top left, #203048, #006085, #009599, #00c574, #a8eb12);    position: absolute;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-top: 275px;
    left: 30%;
    width: 40vw;
    position: absolute;
    z-index: 100;
    border-radius: 8px;
    -webkit-box-shadow: 6px 7px 46px -16px rgba(0,0,0,1);
    -moz-box-shadow: 6px 7px 46px -16px rgba(0,0,0,1);
    box-shadow: 6px 7px 46px -16px rgba(0,0,0,1);
}
.success {
    background-image: -webkit-linear-gradient(bottom right, #203048, #006085, #009599, #00c574, #a8eb12);
    background-image: -o-linear-gradient(bottom right, #203048, #006085, #009599, #00c574, #a8eb12);
    background-image: linear-gradient(to top left, #203048, #006085, #009599, #00c574, #a8eb12);    position: absolute;
    padding: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-top: 275px;
    left: 30%;
    width: 40vw;
    height: 300px;
    position: absolute;
    z-index: 100;
    border-radius: 8px;
    -webkit-box-shadow: 6px 7px 46px -16px rgba(0,0,0,1);
    -moz-box-shadow: 6px 7px 46px -16px rgba(0,0,0,1);
    box-shadow: 6px 7px 46px -16px rgba(0,0,0,1);
}

.button {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: #55d8fc;
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: -1px -1px 8px -2px rgba(0,0,0,1);
    -moz-box-shadow: -1px -1px 8px -2px rgba(0,0,0,1);
    box-shadow: -1px -1px 8px -2px rgba(0,0,0,1);
}
.button:hover {
    background-color: #ffffff;
    color: #007be8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */
.timer {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #007be8;
    border: 1px solid #007be8;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
}
.deck {
    width: 660px;
    min-height: 500px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 100px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}
.deck .card.correct {
    background: #02b3e4;
    font-size: 33px;
    cursor: default;
    border:8px solid #20d6b1;
} 
.deck .card.wrong {
    background: #02b3e4;
    font-size: 33px;
    cursor: default;
    border:8px solid #db0020;    
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 600px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    margin: 0;
    float: right;
    cursor: pointer;
}
.fa.fa-repeat {
    color: #42dcf4;
    padding: 8px;
    border: 2px solid #42dcf4;
    border-radius: 5px;
}
.rating {
    color: #42dcf4;
} 
